body{
    scroll-behavior: smooth;
    /* background: linear-gradient(to right, #FF000080,#FFC0CB80); */
    /* background: linear-gradient(to right, #FF0000B3,#FFC0CBB3); */
    /* background: linear-gradient(to right, #011425, #1F4959); */
    background-color: #abcacf;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    /* color: #090551; */
  }

body::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
  }
  
  /* Enable smooth scrolling */
.scrollbar-hide {
    -webkit-overflow-scrolling: touch;
  }
  